<div class="container">

  <h1>Update Song</h1>
  <%= form_for @song do |f| %>
    <div class="formgroup">
      <%= f.label("Name:")%>
      <%= f.text_field :name %>
    </div>
    <div class="formgroup">
      <%= f.label("Genre:")%>
      <%= f.collection_check_boxes :genre_ids, @genres, :id, :name %>
      <%= f.submit("Update", class: "btn btn-primary btn-sm") %>
    </div>
  <% end %>

<p><%= button_to "Delete Song", song_path(@song), data: { confirm: "Are you sure?" },method: :delete, :class => "btn btn-danger btn-sm" %></p>

</div>
