<div class="container">
  <h1>Add Song</h1>
  <%= form_for @new_song do |f| %>
    <div class="formgroup">
      <%= f.label("Name:")%>
      <%= f.text_field :name %>
    </div>
    <div class="formgroup">
      <%= f.label("Genre:")%>
      <%= f.collection_check_boxes :genre_ids, @genres, :id, :name %>
      <%= f.submit("Add", class: "btn btn-primary btn-sm") %>
    </div>
  <% end %>
</div>
