<p>Create New Song</p>

<%= form_with scope: :song, url: songs_path, local: true do |form| %>

	<% if @song.errors.any? %>
		<h2>Errors:</h2>
		<ul>
			<% @song.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
 	
	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>




<%= link_to 'Back', songs_path %>
